@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.docs {
  code > span {
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace !important;
    text-rendering: optimizelegibility;
    @apply font-light text-sm;
  }

  :not(pre > div) > code {
    @apply text-[#c400ec] mx-1 text-sm;
    &::before {
      content: '`';
    }
    &::after {
      content: '`';
    }
  }

  :not(pre > div) .link-code > code {
    @apply text-[#0074de] hover:text-[#68b5fb];
  }

  h1 {
    @apply text-4xl font-bold mb-14;
  }

  h2 {
    @apply text-3xl font-bold mt-16 mb-12;
  }

  h3 {
    @apply text-2xl font-bold mt-16 mb-10;
  }

  h4 {
    @apply text-xl font-bold mt-14 mb-8;
  }

  h5 {
    @apply text-lg font-bold mt-12 mb-6;
  }

  > p, > :not(.mdx-component) p {
    @apply my-5 leading-8 font-light;
  }

  details {
    @apply bg-gray-100 rounded p-6 my-4 border;
  }

  > :not(.mdx-component) a {
    @apply text-[#0074de] hover:text-[#0080f6] transition-all;
  }

  ul {
    @apply ml-4;
    li::before {
      content: '-';
      @apply mr-4 opacity-50;
    }
  }

  ol {
    @apply list-decimal ml-8;
  }

  li {
    @apply my-6 font-light leading-8;
  }
}

aside {
  top: calc(2rem + 80px);
}

.answer-list {
  counter-reset: answer-list;
  .answer-list__item::before {
    counter-increment: answer-list;
    content: counter(answer-list, upper-alpha)". ";
    display: inline-block;
    width: 1.5rem;
  }
}